.signup-container {
    width: 461px;
    min-width: 330px;
    height: auto;
    margin: 0 auto;
}

.back-arrow {
    width: 24px;
    cursor: pointer;
    color: #9e9e9e;
}

.logo-icon {
    display: none;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
}

.signup-title {
    margin: 0;
    margin-top: 4px;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #313131;
    font-family: 'Source Sans 3';
}

.signup-subtitle {
    margin: 0;
    margin-top: 4px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #737373;
    font-family: 'Source Sans 3';
}

.form-container {
    width: 100%;
    margin-top: 40px;
}

.input-wrapper {
    width: 100%;
    height: 52px;
    border-radius: 10px;
    border: 1px solid #D2D2D2;
    margin-top: 20px;
    position: relative;
}

.pre-input-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 50px;
    height: 100%;
}

.pre-input-icon img {
    width: 20px;
    height: 20px;
}

.input-field {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 12px 6px 12px 52px;
    font-weight: 400;
    font-size: 18px;
    color: #737373;
    font-family: 'Source Sans 3';
    background-color: #E8F2EE;
    border: none;
    outline: none;
}

.after-input-icon {
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 45px;
    height: calc(100% - 5px);
    background-color: #E8F2EE;
}

.after-input-icon img {
    cursor: pointer;
}

.input-correct {
    border: 1px solid #2db188;
}

.input-error {
    border: 1px solid #b12d2f;
}

.error {
    margin: 0;
    margin-top: 6px;
    margin-bottom: -10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Source Sans 3';
    color: #b12d2f;
}

.btn-signup {
    width: 100%;
    height: 50px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: var(--primary-green);
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Source Sans 3';
    cursor: pointer;
}


.signup-with-container {
    width: 100%;
    margin-top: 28px;
}

.signup-with-text {
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    font-family: 'Source Sans 3';
}

.auth-btn-container {
    width: 100%;
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.auth-btn {
    width: 100%;
    height: 53px;
    background-color: #FFFFFF;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    color: #0C141D;
    font-family: 'Source Sans 3';
    line-height: 27px;
    transition: 0.5s;
}

.auth-btn:hover {
    border-color: var(--primary-green);
}

.auth-btn img {
    margin-right: 8px;
}


.policy {
    margin: 0;
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #595F67;
    font-family: 'Source Sans 3';
}

.policy span {
    color: var(--primary-green);
    text-decoration: underline;
    cursor: pointer;
}


.have-account-text {
    margin: 0;
    margin-top: 16px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    font-family: 'Source Sans 3';
}

.have-account-text span {
    color: var(--primary-green);
    cursor: pointer;
}



/* ADAPTATION */

@media (min-resolution: 120dpi) {
    .signup-container {
        width: 400px;
        min-width: 330px;
        height: auto;
        margin: 0 auto;
    }

    .signup-title {
        font-size: 18px;
    }

    .signup-subtitle {
        font-size: 14px;
    }

    .form-container {
        margin-top: 10px;
    }

    .input-wrapper {
        margin-top: 12px;
        height: 40px;
    }

    .input-field {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .back-arrow {
        color: #fff;
    }

    .logo-icon {
        display: block;
    }

    .signup-title {
        color: #FFF;
        margin-top: 20px;
    }

    .signup-subtitle {
        color: #eaeaea;
    }

    .form-container {
        margin-top: 20px;
    }

    .input-wrapper {
        margin-top: 12px;
    }

    .policy {
        color: #FFF;
    }

    .btn-signup {
        margin-top: 20px;
    }

    .signup-with-text {
        color: #FFF;
    }

    .have-account-text {
        color: #FFF;
    }
}

@media (max-width: 768px) {}


@media (max-width: 480px) {
    .signup-container {
        width: 100%;
    }

    .logo-icon {
        margin-top: 10px;
    }

    .signup-title {
        margin-top: 10px;
        font-size: 18px;
        line-height: 27px;
    }

    .signup-subtitle {
        font-size: 14px;
    }

    .form-container {
        margin-top: 10px;
    }

    .input-wrapper {
        margin-top: 12px;
        height: 38px;
    }

    .input-field {
        font-size: 14px;
    }

    .have-account-text {
        display: none;
    }
}