
.success-toast {
    margin: 0 auto;
    margin-top: 40px;
    width: 250px;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    padding-left: 20px;
    border: 1px solid var(--primary-green);
    border-radius: 12px;
    background: #f6fff9;
}

.failed-toast {
    margin: 0 auto;
    margin-top: 40px;
    width: 250px;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    padding-left: 20px;
    border: 1px solid #b12d2f;
    border-radius: 12px;
    background: #f6fff9;
}

.toast-icon {
    width: 24px;
    height: 24px;
}

.message {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    color: #27303a;
}

.sub-message {
    margin: 0;
    margin-top: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6;
    font-family: 'Source Sans 3';
    color: #2f3f53;
}   